@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

:root {
    --font-1: 'Poppins', sans-serif;
    --font-2: 'Lato', sans-serif;

    --color-primary: #f5824e;
    --color-secondary: orange;

    --bg-1: #001e00;
    --bg-2: #65735b;
    --bg-3: #9aaa97;
    --bg-4: #d5e0d5;
    --bg-5: #e4ebe4;
    --bg-6: #f2f7f2;
    --bg-7: #beccbe;
    --bg-8: #f2f6fa;
    --bg-9: #ffffff;

    --text-white: #ffffff;
    --text-light: #cccccc;
    --text-grey: #808080;
    --text-dark: #333333;
    --text-black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    color: var(--text-grey);
    font-family: var(--font-1);
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-2);
}


.container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1100px;
    overflow: auto;
}

.flex {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 35px;
    height: 35px;
}
  
.avatar {
    margin: 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.btn {
    display: inline-block;
    margin: .4rem 0 0 0;
    padding: .5rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 2rem;
    color: var(--text-white);
    background-color: var(--color-primary);
}

.card {
    position: relative;
    color: var(--text-dark);
    background-color: var(--bg-9);
    width: 100%;
    height: 80%;
    overflow-y: hidden;
    border-radius: 30px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.header {
    background-color: var(--color-primary);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1rem 1rem;
    margin-left: 0;
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-9);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1rem 1rem;
    margin-left: 0;
}

.content {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1rem 1rem;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.content::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.content .row {
    height: 100%;
    animation: slide-up 1.5s linear;
    margin-bottom: 2.5rem;
}

.content .row:last-child {
    margin-bottom: 8rem;
}

@keyframes slide-up {
    0% {transform: translateY(70px);}
    100% {transform: translateY(-7px);}
}

.content .qn {
    margin-left: .5rem;
    padding: .7rem;
    background-color: var(--bg-6);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.content .flex {
    align-items: flex-start;
    justify-content: flex-start;
}

.card h3 {
    margin-bottom: 0;
    letter-spacing: normal;
    color: var(--text-white);
    font-weight: bold !important;
}

.loader {
    border: 5px solid var(--bg-4);
    border-top: 5px solid var(--color-primary);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1.5s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.circle {
    margin: 0 .2rem;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: var(--bg-4);
}

.circle:nth-child(1) {
    animation: full-1 1.5s linear 0.4s infinite;
}

.circle:nth-child(2) {
    animation: full-2 1.5s linear 0.2s infinite;
}

.circle:nth-child(3) {
    animation: full-3 1.5s linear 0.0s infinite;
}

@keyframes full-1 {
    0% {background-color: var(--bg-3);transform: translateY(7px);}
    50% {background-color: var(--bg-4);transform: translateY(-7px);}
    100% {background-color: var(--bg-4);transform: translateY(7px);}
}

@keyframes full-2 {
    0% {background-color: var(--bg-4);transform: translateY(7px);}
    50% {background-color: var(--bg-3);transform: translateY(-7px);}
    100% {background-color: var(--bg-4);transform: translateY(7px);}
}

@keyframes full-3 {
    0% {background-color: var(--bg-4);transform: translateY(7px);}
    50% {background-color: var(--bg-4);transform: translateY(-7px);}
    100% {background-color: var(--bg-3);transform: translateY(7px);}
}

.qn p {
    font-family: var(--font-2);
    font-size: 15px;
}

.alt-ans {
    margin-left: 3rem;
}

.ans.flex {
    justify-content: flex-start;
}


.ans .an .ti {
    font-size: 1.2rem;
}

.ans .an.rec {
    margin: .4rem .2rem 0 0;
    padding: 1rem .5rem;
    width: 33.33%;
    height: fit-content;
    font-family: var(--font-2);
    font-weight: normal;
    border-radius: 1rem;
    background-color: #f2f6fa;
}

.ans .an.rec.selected {
    background-color: var(--color-primary);
    color: var(--text-white);
}

.ans .an.rec .flex {
    justify-content: center;
    align-items: center;
    height: unset !important;
}

.ans .an.rec .label {
    font-size: small;
}

.ans .an.star {
    margin: 0;
    padding: .4rem 0 0 0;
    width: 33.33%;
    background-color: transparent;
}

.ans .an.star.selected {
    color: var(--color-primary) !important;
}

.ans .an.star .ti {
    cursor: pointer;
    font-size: 1.5rem;
}

.ans .an.num.flex {
    justify-content: center;
    align-items: center;
    background-color: #f2f6fa;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    margin: .4rem .1rem;
    padding: 1.1rem;
}

.ans .an.num.selected {
    background-color: var(--color-primary);
    color: var(--text-white);
}

.form-control.flex {
    justify-content: space-between;
    border-top: 1px solid var(--text-grey);
    padding-top: .2rem;
}

.form-control input {
    margin: 0 .3rem 0 0;
}

.form-control img {
    background-color: var(--color-primary);
    color: var(--text-white);
    border-radius: 50%;
    padding: .5rem;
    width: 2rem;
    height: 2rem;
    margin: 0;
}

.form-control input[type='text'] {
    color: var(--color-primary);
    width: 100%;
    padding: .2rem;
    border: none;
}

.form-control input[type='text']:focus {
    outline: none;
}

.form-control input[type='text']::-webkit-input-placeholder {
    color: var(--color-primary);
}
  
.form-control input[type='text']:-moz-placeholder { /* Firefox 18- */
    color: var(--color-primary);  
}

.form-control input[type='text']::-moz-placeholder {  /* Firefox 19+ */
    color: var(--color-primary);  
}

.form-control input[type='text']:-ms-input-placeholder {
    color: var(--color-primary);  
}

.form-control input[type='text']::placeholder {
    color: var(--color-primary);  
}